<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion du patrimoine</title>
    <link rel="stylesheet" href="/public/assets/styles/app.css">
    <script src="/public/assets/scripts/dist.js" defer></script>
</head>
<body>
<div class="content" id="app">
    <img class="wave" src="/img/wave.svg"/>

    <div class="auth animate animateSlideInDown mx-1">
        <h1 class="text-center text-white mb-3">Se connecter</h1>
        <form name="user" method="post" class="auth-form py-2 px-3">
            <input type="hidden" name="_csrf_token" value="CtLQQEV8Eed3xoAsabNjG8VCqyC4RE-y74ZyBHqMLbw">

            <div class="form-group my-3">
                <label for="user_email" class="required">Email</label>
                <input type="text" id="user_email" name="email" required="required" maxlength="180"
                       class="form-control px-2">
            </div>

            <div class="form-group my-3">
                <label for="password" class="required">Mot de passe</label>
                <input type="password" id="password" name="password" required="required" class="form-control px-2">
            </div>

            <div class="legal-mention text-muted my-3">
                <p class="italic"><small>Vos données personnelles ne sont utilisées qu'à des fins d'authentification et
                    ne sont pas partagées avec des tiers.</small></p>
            </div>

            <div class="form-group my-3">
                <input class="btn cursor-pointer" type="submit" value="Se connecter">
            </div>
        </form>
    </div>
</div>

<script src="/public/assets/scripts/dist.js"></script>
<script src="/assets/scripts/vue.js"></script>
<script src="/assets/scripts/vue-resource.js"></script>
<script src="/assets/scripts/authentification.js"></script>
</body>
</html>
