<!doctype html>
<html lang="fr">
<head>
    <title>Gestion du patrimoine</title>
</head>
<body>

<div id="app" class="content container">
    <button class="btn cursor-pointer my-5" @click="newCategoryModal"><i class="las la-plus"></i> Ajouter un monument</button>
    <div class="grid places" @click="handlePlace">
        <div :id="'place-'+place.id" :data-id=place.id class="position-relative place" v-for="place of places">
            <a :href="'/place/image/' + place.id"><i class="see-images las la-2x la-image cursor-pointer" title="voir les photos"></i></a>
            <i class="icon-edit-place las la-2x la-pen cursor-pointer" title="editer"></i>
            <i class="remove-place trash las la-2x la-trash cursor-pointer" title="supprimer"></i>
            <p class="edit-place">{{ place.name }}</p>
        </div>
    </div>

    <div class="modal d-none">
        <form :data-id="place.id">
            <input type="hidden" value="new" class="method">
            <div>
                <label for="name">Nom</label>
                <input type="text" id="name" class="form-control" v-model="place.name">
            </div>
            <div>
                <label for="latitude">latitude</label>
                <input type="text" id="latitude" class="form-control" v-model="place.latitude">
            </div>
            <div>
                <label for="longitude">longitude</label>
                <input type="text" id="longitude" class="form-control" v-model="place.longitude">
            </div>
    
            <div>
                <label for="category">Catégorie</label>
                <select name="" id="category" class="form-control" v-model="place.category_id">
                    <option value="">...</option>
                    <option :value="category.id" v-for="category of categories">
                        {{ category.name }}
                    </option>
                </select>
            </div>
            
        
            <div>
                <input @click="closeModal" type="submit" id="closeMode" class="btn bg-danger cursor-pointer" value="Annuler">
                <input @click="sendPlace" type="submit" id="confirm" class="btn cursor-pointer" value="Valider">
            </div>
        </form>
    </div>
</div>

<script src="/public/assets/scripts/dist.js"></script>
<script src="/assets/scripts/vue.js"></script>
<script src="/assets/scripts/vue-resource.js"></script>
<script src="/assets/scripts/place.js"></script>
</body>
</html>
