<div class="menu-burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>
<nav>
    <ul class="nav-links">
        <li><a href="/login"><i class="lar la-2x la-user"></i>Se connecter</a></li>
        <li><a href="/category"><i class="las la-2x la-tags"></i></i>Gestion de catégories</a></li>
        <li><a href="/place"><i class="las la-2x la-map-marked-alt"></i>Gestion des monuments</a></li>
        <li><a href="#">A propos</a></li>
        <li><a href="#">Mentions légales</a></li>
    </ul>
</nav>
