form {
    label {
        text-transform: uppercase;
        font-size: 13px;
    }

    .form-group {
        > * {
            display: block;
        }
    }

    input[type=checkbox] {
        border-radius: 0;
    }
}

form {
    max-width: 100%;
    margin: 0 auto;

    .form-control {
        width: 100%;
    }

    input[type=text], input[type=password], select {
        height: $input-height;
        background-color: $input-background;
        border: #CCCCCC solid 1px;
        border-radius: $border-radius-size;
    }

    label {
        margin-top: 1.25rem !important;
        margin-bottom: .75rem !important;
    }
}
