.text-center {
    text-align: center;
}

.text-white {
    color: $white;
}

.wave-green {
    fill: #689F38;
}

.text-muted {
    color: $text-muted !important;
}

.italic {
    font-style: italic;
}

.position-relative {
    position: relative;
}

.overflow-x-scroll {
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.d-none {
    display: none!important;
}

.d-flex {
    display: flex!important;
}

.align-items-center {
    align-items: center;
}

.bg-danger {
    background-color: $error;
    color: $white;
}

.text-error {
    color: $error;
}

.error-popup {
    z-index: $z-index-modal;
    position: fixed;
    padding: 10px 20px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
}