.text-center {
    text-align: center;
}

.text-white {
    color: $white;
}

.wave-green {
    fill: #689F38;
}

.text-muted {
    color: $text-muted !important;
}

.italic {
    font-style: italic;
}

.position-relative {
    position: relative;
}

.overflow-x-scroll {
    overflow-x: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.d-none {
    display: none!important;
}

.d-flex {
    display: flex!important;
}

.d-block {
    display: block;
}

.align-items-center {
    align-items: center;
}

.bg-danger {
    background-color: $error;
    color: $white;
}

.text-error {
    color: $error;
}

.error-popup {
    z-index: $z-index-modal;
    position: fixed;
    padding: 10px 20px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    form {
        overflow-y: auto;
        background-color: $white;
        padding: 20px 30px;
        width: 400px;
        max-width: 100%;

        > div {
            margin: 10px 0;
        }

        label {
            display: block;
        }

        .error {
            padding: 10px 20px;
        }
    }
    
}
