/** COLORS **/
$white: #FFFFFF;
$green: #689F38;
$text-muted: #6c757d;
$light-gray: #eeeeee;
$error: #f12525;

$h1-size: 2.5em;
$h2-size: 2em;

$z-index-header : -1;
$z-index-nav : 100;
$z-index-modal : 999;

$input-height: 40px;
$input-background: #f7fafb;
$border-radius-size: 5px;
